@charset "utf-8";

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    width: 700px;
}

div.corpo{
    width: 650px;
    margin: 0px auto;
    text-align:justify;
}

.par_corpo {
    line-height: 20px;
    font-size: 12px;
    text-align:center;
}

.par_min {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 9px;
    line-height:15px;
}

table#fixa {
    table-layout: fixed;
    word-wrap:break-word;
}

table.bordasimples {
    border-collapse: collapse;
}

table.bordasimples tr td {border:1px solid #000;}

table.bordasimples_f {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}

table.bordasimples_f tr td {border:1px solid #000;}

table.bordasimples_f th {
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #000;
    border-left: 1px solid #FFF;
}

/*th {
    vertical-align: middle;
    padding: 3px 1px;
}*/

div.espaco {
    padding: 1px 3px;
}

td.espaco_td {
    padding-right: 3px;
    padding-left: 3px;
}

td, th {
    vertical-align: middle;
    padding: 1px;
}

td.nopading {
    vertical-align: middle;
    padding: 0px;
}

div#desc_pec{
    width: 470px;
    height: 100%;
    float: left;
    clear: none;
    border-left:1px solid #000;
    padding: 3px 3px 7px;
    vertical-align: middle;
}

div#tipo_pec{
    width: 120px;
    height: 100%;
    float: left;
    clear: none;
    vertical-align:middle;
    padding: 3px;
}


/*ESTILOS PARA A TABELA BONDE_LIST*/

table.bonde_list{
    margin:0 auto;
    vertical-align:middle;
    border-collapse: collapse;
}

table.bonde_list tr.cab {
    border:1px solid transparent;
    background-color: transparent;
    text-align: center;
}

table.bonde_list tr.no_ocurr {
    text-align:center;
}

table.bonde_list td {
    border:1px solid #000;
    padding-right: 3px;
    padding-left: 3px;
    height:15px;
}

table.bonde_list td.dest_det {
    text-align:left;
    height: 20px;
    vertical-align: bottom;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

table.bonde_list td.noh_det {
    text-align:center;
    height: 20px;
}

table.bonde_list th.num_od {
    width:35px;
}

table.bonde_list th.nome_det {
    width:325px;
}

table.bonde_list th.matr_det {
    width:90px;
}

table.bonde_list th.raio_det {
    width:40px;
}

table.bonde_list th.cela_det {
    width:40px;
}

table.bonde_list th.det_obs {
    width:100px;
}

table.bonde_list td.num_od {
    text-align:center;
}

table.bonde_list td.nome_det {
    text-align:left;
}

table.bonde_list td.matr_det {
    text-align:center;
}

table.bonde_list td.raio_det {
    text-align:center;
}

table.bonde_list td.cela_det {
    text-align:center;
}

table.bonde_list td.det_obs {
    text-align:center;
}



table.bonde_list th.data_bonde {
    width:80px;
}

table.bonde_list td.data_bonde {
    text-align:center;
}

table.bonde_list th.local_bonde {
    width:350px;
}

table.bonde_list td.local_bonde {
    text-align:left;
    width:350px;
}


/*FIM DOS ESTILOS PARA A TABELA BONDE_LIST*/