/*
    Document   : estilo_bts
    Created on : 18/10/2011, 09:33:43
    Author     : Rafael
    Description:
        Purpose of the stylesheet follows.
*/

input.form_bt {
    background-color: #f5f5f5;
    border: #dcdcdc 1px solid;
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f5f5f5',endcolorstr='#f1f1f1');
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 0px 6px;
    min-width: 54px;
    padding: 0px 8px;
    text-align: center;
}

input.form_bt:hover {
    background-color: #f8f8f8;
    border: #c6c6c6 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333;
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f8f8f8',endcolorstr='#f1f1f1');
}


input.form_bt:focus {
    border: #4d90fe 1px solid;
    outline: none invert medium;
/*    outline-style: none;
    outline-color: invert;
    outline-width: medium;*/
}

