/*
    Document   : estilo
    Created on : 17/04/2011, 10:36:08
    Author     : Rafael
    Description: Estilo para páginas com copo sem os limites
*/

@import url("estilo_body_simp.css");
@import url("estilo_common.css");